/day01/day01.iml
/day01/Demo01.java
/day01/Demo01.class
/day01/Demo02.java
/day01/Demo02.class
/day01/Demo03.java
/day01/Demo03.class
/day01/Demo04.java
/day01/Demo04.class
/day01/Demo05.java
/day01/Demo05.class
/day01/Demo06.java
/day01/Demo06.class
/day01/Demo07.java
/day01/HelloWorld.java
/day01/HelloWorld.class
/day01/.idea/
/day02/Demo01.java
/day02/Demo02.java
/day02/Demo03.java
/day02/Demo04.java
/day02/Test.java
/.idea/

day02/.DS_Store
day01/.DS_Store
day01/homework/.DS_Store
day01/homework/day01-农锦丰.zip



.DS_Store


*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.zst