# 忽略所有的.DS_Store文件
.DS_Store
**/.DS_Store

# 忽略所有的压缩包
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.zst

# 忽略day01目录下所有的.class文件和IDE配置文件
/day01/*.class
/day01/.idea/
/day01/Demo*.java
/day01/HelloWorld.java

# 忽略day02目录下所有的.java文件
/day02/*.java

# 忽略Test.java文件
/day02/Test.java

# 忽略作业提交的.zip文件
/day01/homework/*.zip

# 忽略out输出文件夹
/out/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.cache/.Apifox_Helper/.toolWindow.db
